@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.about-section-all {
    max-width: 1100px;
    margin: 30px auto;
    padding: 0 20px;
}

.about-hero {
    margin-top: 100px;
    background-color: rgb(131, 131, 131);
    background-position: center;
    border-radius: 8px;
    color: white;
    padding: 60px 20px;
    text-align: center;
    margin-bottom: 40px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

.about-hero h1 {
    margin-bottom: 10px;
    font-weight: 700;
}

.about-hero p {
    max-width: 700px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.5;
}

.about-content {
    background: white;
    padding: 40px 30px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.about-content li{
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
}

.about-content h2 {
    margin-bottom: 20px;
    color: #0A74DA;
}

.about-content p {
    line-height: 1.7;
    font-size: 14px;    
    margin-bottom: 20px;
}
