@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
  scroll-behavior: smooth;
}

body{
    background-color: rgb(252, 252, 252);
}

main{
    position: relative;
    margin-top: 90px;
    margin-bottom: 70px;
}

h1{
    font-family: "Montserrat", sans-serif;
    font-size: 80px;
    font-weight: 700;
}

h2{
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    font-weight: 500;
}

h3{
    font-family: "Inter", sans-serif;
    font-size: 26px;
    font-weight: 500;
}

h5{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 14px;
}

p{
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.back-to-top{
    position: absolute;
    bottom: -60px;
    right: 20px;
    border: 1px solid black;
    padding: 6px 12px 6px 6px;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    transition: margin-bottom 0.2s;
}

.back-to-top img{
    vertical-align: middle;
}

.back-to-top span{
    vertical-align: middle;
}

.back-to-top:hover{
    background-color: rgb(216, 216, 216);
    margin-bottom: 5px;
}
