@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body{
    background: linear-gradient(
    to top,
    #ffd8a9,
    #ff9a76,
    #d16ba5,
    #5b5f97,
    #2c3e50,
    #000000 
    );
}

.hero-section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 50px 0;
}

.main-heading{
    color: white;
    text-align: center;
    position: absolute;
    top: 25%;
    padding: 0 20px;
    z-index: 2;
}

.search-flights-form{
    background-color: rgba(255, 255, 255, 0.4);
    padding: 20px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 2;
    margin-top: 120px;
    border-radius: 10px;
    align-items: center;
}

.search-flights-form label{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    opacity: 1;
    color: black;
}

.search-flights-form input[type="text"],
.search-flights-form input[type="date"]{
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    border-radius: 10px;
    border-style: solid;
    padding: 10px 20px 10px 20px;
}

.search-flights-form input[type="submit"]{
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 12px 10px 12px;
    border-radius: 10px;
    border: none;
    background-color: white;
    cursor: pointer;
}

.destination-section .destination-button,
.package-section .packages-button,
.testimonial-section .testimonial-button{
    display: block;
    margin: 0 auto;
    padding: 10px 12px 10px 12px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    text-align: center;
    background-color: rgb(109, 192, 255);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    transition: box-shadow 0.2s;
}

.destination-section .destination-button:hover,
.package-section .packages-button:hover,
.testimonial-section .testimonial-button:hover{
    box-shadow: 0 0 14px rgb(118, 209, 255);
}

.destination-section .arrow,
.package-section .arrow,
.testimonial-section .arrow{
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin-left: 3px;
}

.cta-section{
    margin-bottom: 50px;
}

.cta-section h2{
    text-align: center;
}

.cta-section span{
    display: block;
    font-family: "Inter", sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.cta-section form{
    margin-top: 10px;
    text-align: center;
    padding: 20px 0 20px 0;
}

.cta-section form div{
    display: inline-block;
    border: 2px solid black;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    vertical-align: middle;
}

.cta-section form label{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-right: 20px;
}

.cta-section form input{
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.cta-section form button{
    padding: 18px 30px 18px 30px;
    border: none;
    border-radius: 10px;    
    cursor: pointer;
    margin-left: 10px;
    background-color: black;
    color: white;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    vertical-align: middle;
}

.contact-section{
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

.contact-section img{
    width: 30%;
    margin: 0 10px 0 100px;
    object-fit: cover;
}

.contact-section .contact-form{
    width: 500px;
    margin-right: 200px;
    border: 2px solid black;
    padding: 20px;
    border-radius: 20px;
}

.contact-section .contact-form h2{
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    font-weight: 500;
    margin-top: 10px;
}

.contact-form form .field{
    margin-bottom: 5px;
    padding: 10px 30px 10px 10px;
    border-radius: 10px;
    display: flex;
    justify-content: start;
}   

.contact-form form .field label{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    width: 20%;
    text-align: start;
    margin-right: 10px;
}

.contact-form form .field input{
    padding: 10px 30px 10px 10px;
    flex: 1;
}

.contact-form form .field textarea{
    height: 30px;
    padding-left: 4px;
    flex: 1;
    max-height: 100px;
    min-height: 100px;
}

.contact-form form input[type="submit"]{
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    font-family: "Inter", sans-serif;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
}
