@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    box-shadow: 2px 0 5px rgba(0,0,0,0.2);
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    z-index: 1000;
}

.sidebar h3{
    margin-left: 20px;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.sidebar a {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    display: block;
    margin-left: 10px;
    transition: 0.2s;
}

.sidebar a:hover {
    background-color: #f1f1f1;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 30px;
    border: none;
    background: none;
    cursor: pointer;
}

.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
    z-index: 999;
}
.sidebar-overlay.active {
    opacity: 1;
    visibility: visible;
}
